<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script>
      var id = "{{url}}";
    </script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/classPage.js"></script>
  </head>

  <body>
      <div class="classPage page">

          <div class="header">
            <div class="bar">
              {{#if joined}}
                <span> <a class="back-btn icon" href="/home"> </a> </span>
              {{else}}
                <span> <a class="back-btn icon" href="/join/class"> </a> </span>
              {{/if}}

              <label class="title big" id={{url}}> {{title}} </label>
              <span></span> 
            </div>
            <div class="description"> 
              <p> {{description}} </p>
              {{#if joined}}
                <span class="leave-btn light"> Leave </span>
              {{else}}
                <span class="join-btn light"> Join </span> 
              {{/if}}
            </div>
          </div>

          <main>
            <div class="posts-list flex-col fill">
              {{#each posts}}
                <span class="item"> 
                  <span class="name">
                    <span class="picture"></span>
                    <label> {{name}} </label>
                  </span>
                  <p class="text"> {{text}} </p>
                  <br/>
                  <span class="button-panel">
                    {{!-- <span class="up-btn icon"> </span> --}}
                    <span></span> 
                    <a class="flex comment-span" href="/class/{{../url}}/posts/{{id}}"> 
                      <span class="comment-btn icon"> </span>
                      <span> Comment </span> 
                    </a>
                  </span>
                </span>
              {{/each}}
            </div>

            <div class="popup join">
              <div>
                <label class="prompt"> Add this class? </label>
                <span> <button class="dark-btn no"> No </button> <button class="dark-btn yes" id={{url}}> Yes </button> </span>
              </div>
            </div>

            <div class="popup leave">
              <div>
                <label class="prompt"> Leave this class? </label>
                <span> <button class="dark-btn no"> No </button> <button class="dark-btn yes" id={{url}}> Yes </button> </span>
              </div>
            </div>

            <div class="post-form">
              <button class="cancel clear-btn"> </button>
              <textarea placeholder="Say something here..."></textarea>
              <span>
                <button class="confirm dark-btn light" id={{displayName}}> Post </button>
              </span>
            </div>

            <button class="floating-btn"> <span class="post-btn"> </span> </button>

          </main>

          <nav>
            <a href="/class/{{url}}" class="selected"> <span class="home-btn icon"> </span> Home </a>
            <a href="/class/{{url}}/groups"> <span class="group-btn icon"> </span> Groups </a>
            <a href="/class/{{url}}/list"> <span class="class-btn icon"> </span> Class </a>
          </nav>

      </div>
  </body>
</html>