<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
    <script> var id="{{url}}"; </script>
    <script src="/js/classPage.js"></script>
  </head>

  <body>
      <div class="classPage page">

          <div class="header">
            <span> 
              <a class="back-btn icon" href="/home"> </a> </span>
            <span> 
              <label class="title" id={{url}}> {{title}} </label> 
              {{#if joined}}
                <span class="leave-btn"> Leave </span>
              {{else}}
                <span class="join-btn"> Join </span> 
              {{/if}}
            </span>
          </div>

          <main>
            <div class="posts-list flex-col fill">
              {{#each posts}}
                <a class="item"> 
                  <span class="name">
                    <span class="picture"></span>
                    <label> {{name}} </label>
                  </span>
                  <p class="text"> {{text}} </p>
                  <br/>
                  <span class="button-panel">
                    <span class="up-btn icon"> </span>
                    <span class="flex comment-span"> 
                      <span class="comment-btn icon"> </span>  
                      <label> Comment </label> 
                    </span>
                  </span>
                </a>
              {{/each}}
            </div>

            <div class="popup join">
              <div>
                <label class="prompt"> Add this class? </label>
                <span> <button class="round-btn no"> No </button> <button class="round-btn yes" id={{url}}> Yes </button> </span>
              </div>
            </div>

            <div class="popup leave">
              <div>
                <label class="prompt"> Leave this class? </label>
                <span> <button class="round-btn no"> No </button> <button class="round-btn yes" id={{url}}> Yes </button> </span>
              </div>
            </div>

            <div class="comment-form">
              <button class="cancel"> X </button>
              <textarea placeholder="Comment something here..."></textarea>
              <span>
                <button class="confirm" id={{user}}> Comment </button>
              </span>
            </div>


            <div class="post-form">
              <button class="cancel"> X </button>
              <textarea placeholder="Say something here..."></textarea>
              <span>
                <button class="confirm" id={{user}}> Post </button>
              </span>
            </div>

            <button class="post-btn"> </button>

          </main>

          <nav>
            <a href="/class/{{url}}" class="selected"> <span class="home-btn icon"> </span> Home </a>
            <a href="/class/{{url}}/groups"> <span class="group-btn icon"> </span> Groups </a>
            <a href="/class/{{url}}/list"> <span class="group-btn icon"> </span> Class </a>
          </nav>

      </div>
  </body>
</html>