<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/classPage.js"></script>
  </head>

  <body>
    <main>
      <div class="class-page">
        <nav>
          <a class="back-btn icon" href="/"> </a>
          <label class="title"> {{title}} </label>
        </nav>
        <div class="posts-list">
          
          {{#each posts}}
            <a class="item"> 
              <span class="header">
                <span class="icon"></span>
                <label class="name"> {{name}} </label>
              </span>
              <p class="text"> {{text}} </p>
              <br/>
              <span class="button-panel">
                <span class="up-btn icon"> </span>
                <span class="comment"> <span class="comment-btn icon"> </span> <label> Comment </label> </span>
              </span>
            </a>
          {{/each}}
          
          <button class="post-btn"> </button>
        </div>

        <footer>
          <a href="/class/{{url}}"> <span class="home-btn icon" > </span> </a>
          <a href="/class/{{url}}/groups"> <span class="group-btn icon" > </span> </a>
        </foopter>
      </div>
    </main>
  </body>
</html>