<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
  </head>

  <body>
      <div class="classpage">

          <div class="header">
            <span> <a class="back-btn icon" href="/home"> </a> </span>
            <label class="title"> {{title}} </label>
          </div>

          <main>
            <div class="posts-list">
              {{#each posts}}
                <a class="item"> 
                  <span class="name">
                    <span class="picture"></span>
                    <label> {{name}} </label>
                  </span>
                  <p class="text"> {{text}} </p>
                  <br/>
                  <span class="button-panel">
                    <span class="up-btn icon"> </span>
                    <span class="flex"> 
                      <span class="comment-btn icon"> </span>  
                      <label> Comment </label> 
                    </span>
                  </span>
                </a>
              {{/each}}
            </div>
            <button class="post-btn"> </button>

          </main>

          <nav>
            <a href="/class/{{url}}"> <span class="home-btn icon"> </span> </a>
            <a href="/class/{{url}}/groups"> <span class="group-btn icon"> </span> </a>
          </nav>

      </div>
  </body>
</html>