<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/groups.js"></script>
  </head>

  <body>
      <div class="groupsPage page">

          <div class="header">
            <span></span>
            <label class="title"> {{title}} </label>
          </div>

          <main>
            <div class="groups-list wrap flex">
              {{#if groups}}
                {{#each groups}}
                  <a class="item" href="group/{{id}}"> 
                    <label> {{name}} </label>
                  </a>
                {{/each}}
              {{else}}
                <label> You aren’t in any study groups yet. Click the add button to find groups... </label>
              {{/if}}
            </div>

            <div class="menu">
              <a href="/class/{{url}}/groups/create"> Create New Study Group </a>
              <a href="/class/{{url}}/groups/join"> Find Study Group </a>
            </div>
            <button class="add-btn" id="add-btn"> + </button>
          </main>

          <nav>
            <a href="/class/{{url}}"> <span class="home-btn icon"> </span> </a>
            <a href="/class/{{url}}/groups" class="selected"> <span class="group-btn icon"> </span> </a>
          </nav>

      </div>
  </body>
</html>