<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/group.js"></script>
  </head>

  <body>
      <div class="group page">

          <div class="header">
            <span> <a class="back-btn icon" href="../groups"> </a> </span>
            <span> <label class="title"> {{group.name}} </label> <span class="leave-btn"> Leave </span> </span>
          </div>

          <main>
            <div>
              <h3> Description: </h3> 
              <p> {{group.description}} </p>
            </div>

            <div class="flex-col">
              <h3> Contact: </h3>

              <div class="members-list">
                {{#each members}}
                  <div class="item">
                    <span class="picture"></span>
                    <label class="name"> {{name}} </label>
                    <label> {{phone}} </label>
                  </div>
                {{/each}}
              </div>
            </div>

            <div class="popup leave">
              <div>
                <label class="prompt"> Leave this group? </label>
                <span> <button class="round-btn no"> No </button> <button class="round-btn yes" id={{group.id}}> Yes </button> </span>
              </div>
            </div>

            <div class="popup okay">
              <div>
                <label class="prompt"> You have left this group. </label>
                <span> <a class="round-btn" href="../groups"> Ok </a> </span>
              </div>
            </div>

          </main>

      </div>
  </body>
</html>